<ul id="tabs" class="nav nav-tabs">
  <li class="active"><a href="#products-tab" data-toggle="tab">Products</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown" href="#">
      Create
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#category-tab" data-toggle="tab">category</a></li>
      <li><a href="#product-tab" data-toggle="tab">product</a></li>
    </ul>
  </li>
</ul>

<div class="tab-content" data-bind="validationOptions: { messageTemplate: 'error', errorElementClass: 'error', decorateElement: true }">
  <div class="tab-pane active" id="products-tab">
    <div class="row">
      <div class="span3">
        <div class="well" style="padding:5px 0;">
          <ul class="nav nav-list" data-bind="foreach: categories">
            <li data-bind="attr: { class: $parent.active($data) }">
              <a href="#" data-bind="text: name, click: $parent.select"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="span9">
        <table class="table table-striped table-condensed">
          <thead>
          <tr>
            <th>Name</th>
            <th>Reference</th>
            <th>Price</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody data-bind="foreach: filteredProducts">
          <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: reference"></td>
            <td data-bind="text: price"></td>
            <td>
              <a data-bind="click: $parent.edit" data-toggle="modal" href="#product-edit"><i class="icon-edit"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div id="product-edit" class="modal hide fade in" data-bind="with: product">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2 data-bind="text: name"></h2>
          </div>
          <div class="modal-body">
            <p data-bind="text: description"></p>

            <p><span data-bind="text: price"></span>€</p>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="category-tab">
    <form class="form-horizontal" data-bind="with: categoryView">
      <fieldset>
        <legend>Add new category</legend>
        <div class="control-group" data-bind="validationElement: name">
          <label class="control-label" for="category-name">Name</label>

          <div class="controls">
            <input id="category-name" type="text" class="input-large" data-bind="value: name"/>
          </div>
        </div>
        <div class="control-group" data-bind="validationElement: label">
          <label class="control-label" for="category-label">Label</label>

          <div class="controls">
            <input id="category-label" type="text" class="input-large" data-bind="value: label"/>
          </div>
        </div>
        <div class="control-group" data-bind="validationElement: description">
          <label class="control-label" for="category-description">Description</label>

          <div class="controls">
            <input id="category-description" type="text" class="input-large" data-bind="value: description"/>
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-primary" data-bind="click: $parent.addCategory">submit</button>
          <button class="btn" data-bind="click: reset">cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="tab-pane" id="product-tab">
    <form class="form-horizontal" data-bind="with: productView">
      <fieldset>
        <legend>Add new product</legend>
        <div class="control-group" data-bind="validationElement: name">
          <label class="control-label" for="product-name">Name</label>

          <div class="controls">
            <input id="product-name" type="text" class="input-large" data-bind="value: name"/>
          </div>
        </div>
        <div class="control-group" data-bind="validationElement: reference">
          <label class="control-label" for="product-reference">Reference</label>

          <div class="controls">
            <input id="product-reference" type="text" class="input-large" data-bind="value: reference"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="product-description">Description</label>

          <div class="controls">
            <textarea id="product-description" class="input-xlarge" data-bind="value: description"></textarea>
          </div>
        </div>
        <div class="control-group" data-bind="validationElement: price">
          <label class="control-label" for="product-price">Price</label>

          <div class="controls">
            <input id="product-price" type="text" class="input-small" data-bind="value: price"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="product-stock">Stock</label>

          <div class="controls">
            <input id="product-stock" type="text" class="input-small" data-bind="value: stock"/>
          </div>
        </div>
        <div class="control-group" data-bind="validationElement: category">
          <label class="control-label" for="product-category">Category</label>

          <div class="controls">
            <select id="product-category" type="text" data-bind="options: $parent.categories, optionsCaption: 'Select...', optionsText: 'name', value: category"></select>
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-primary" data-bind="click: $parent.addProduct">submit</button>
          <button class="btn" data-bind="click: reset">cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script id="error" type="text/html">
  <span class="help-inline" data-bind="validationMessage: field"></span>
</script>